/**
* @Author Tengfei.Qi
* @Date 2013-05-16
*/
/*base style*/
body,div,ul,ol,dl,li,p,header,nav,footer,aside,hgroup,h1,h2,h3,h4,blockquote{ margin: 0; padding: 0;}
body { 
	background: #f5f5f5;
	padding-top: 44px;
	font-family: "微软雅黑";
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	-webkit-transition: color .218s;
	transition: color .218s;
	color: #427fed;
	cursor: pointer;
}
span { font-size: 12px;}

/*header style*/
hgroup { 
	text-indent: -9999px;
	position: absolute;
	top: -100px;
}
nav {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	box-sizing: border-box;
	height: 44px;
	width: 100%;
	z-index: 1000;
}

@media screen and (min-width: 600px) {
	nav ul {
		width: 80%;
		margin: 0 auto;
	}

	article, footer {
		width: 80%;
		margin: 0 auto;
		background: white;
		/*border: 1px solid #e4e4e4;*/
		border-top: none;
		margin-top: 10px;
	}
}

nav ul li {
	display: inline-block;
	line-height: 42px;
}
nav ul li:hover {
	-webkit-transition: border-color .218s;
	transition: border-color .218s;
	border-bottom: 2px solid #427fed;
	border-color: #427fed;
	text-decoration: none;
}

footer {
	background: transparent;
	text-align: center;
	border: none;
	padding: 20px;
	color: #999;
	font-size: 12px;
}
.line {
	border-bottom: 1px solid #f5f5f5;
}
article header, article p,article h4,article blockquote{
	padding: 15px;
	word-wrap: break-word;
	word-break: break-all;
	display: block;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font: 16px/26px '微软雅黑';
	color: #333;
}
article blockquote {
	font-style: italic;
}
article header h3 {
	font: 20px/30px '微软雅黑','黑体';
}
article header h3:hover {
	-webkit-transition: color .218s;
	transition: color .218s;
	color: #427fed;
	cursor: pointer;
}
article p {
	padding-top: 0px;
}
article h4 {
	font-weight: bold;
}

